<!DOCTYPE html>
<html lang="en" ng-app>

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>closets</title>

    <!-- Bootstrap Core CSS -->
    <link href="../bootstrap-3.3.5-dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <!-- <link href="../css/round-about.css" rel="stylesheet"> -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body style="background-color: #d1c4e9;">

    <!-- Navigation -->
     <div class="navbar-wrapper" id="closetss">
      <div class="container">

        <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <!--here add logo which also serves as home button  -->
              <!-- <a class="navbar-brand" href="#closetss">Closets</a>
               <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-right">
            <div class="form-group">
              <input type="text" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
          </form>
        </div>
            </div> -->
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
              <li><a href="../index.html">home</a></li>
                <li class="active"><a href="../views/enter.html">My closet</a></li>
                
                <li><a href="enter.html">Items</a></li>
                
                <li><a href="#contact">Contact</a></li>
              <!--  <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li role="separator" class="divider"></li>
                    <li class="dropdown-header">Nav header</li>
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">One more separated link</a></li>
                  </ul>
                </li>
              </ul> -->
               
        </div>
       
            </div>
          </div>
        </nav>

    <!-- Page Content -->
    <div class="container">

        <!-- Introduction Row -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">About Us
                    <small> {{test}}</small>
                </h1>
                <p style="font-family: verdana;">closets is an online barter trade platform that connects users who wish to trade items by enabling you to advertise such items and view items that are up for trade from other users</p>
            </div>
        </div>

        <!-- Team Members Row -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">create closet | explore closet | start trading</h2>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="../images/add.png" alt="">
               
                <p style="font-family: verdana;">create your own personal account through this account you will be able to upload and view items up for trade</p>
            </div>


            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="../images/closet.png" alt="">
                
                <p style="font-family: verdana;">enter closet to view items uploaded for trade and to upload your own items that you wish to trade</p>
            </div>
           
        </div>

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; dekreeapps</p>
                </div>
                <!-- /.col-lg-12 -->
                <div id="contact">
                    
<ul class="list-inline social-buttons">

  <li>
    <a href="https://twitter.com/dekreebill"><img src="../images/twitter.png" alt="" class="img-circle"><i class="fa fa-facebook"></i></a>
  </li>
    <li>
    <a href="https://facebook.com/josevonkal"><img src="../images/fb.png" alt="" class="img-circle"></a>
  </li>
  
    




  </ul>




                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->
       <!-- angular -->
       <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <!-- jQuery -->
    <script src="../bootstrap-3.3.5-dist/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>

</body>

</html>

    

